/* -------------------CONTENT GRID TEMPLATES------------------- */

.career-page,
.beauty-page,
.lifestyle-page {
  display: grid;
  grid-template-columns: 40vw 40vw 20vw;
  grid-template-rows: 300px auto auto auto auto;
  grid-template-areas:
    "post post trend"
    "post post trend"
    "more more more"
    "other other other"
    "footer footer footer";
}
.blog-post {
  grid-area: post;
}
.related-posts {
  grid-area: more;
}
.other-posts {
  grid-area: other;
}
.trending {
  grid-area: trend;
}
.footer {
  display: grid;
  grid-template-columns: 40vw 60vw;
  grid-template-rows: auto 50px;
  grid-template-areas:
    "map sub"
    "det det";
}
.footer {
  grid-area: footer;
}
.main-footer {
  grid-area: map;
}
.subscribe-to-aa {
  grid-area: sub;
}
.sub-footer {
  grid-area: det;
}
.wellness-table {
  display: grid;
  grid-template-columns: 7% 7% 10% 7% 10% 7% 34% 25%;
  grid-template-rows: 50px 50px 50px auto;
  gap: 5px;
  margin: 10px;
}
.wellness-table div {
  padding: 10px 5px;
}
.wellness-table p {
  padding-left: 20px;
}
.centered {
  text-align: center;
}
.day {
  grid-area: 1/1/2/2;
}
.walk {
  grid-area: 1/2/2/4;
}
.work {
  grid-area: 1/4/2/6;
}
.meal {
  grid-area: 1/6/2/8;
}
.water {
  grid-area: 1/8/2/9;
}
.number {
  grid-area: 2/1/4/2;
  font-size: 3rem;
}
.walk-time {
  grid-area: 2/2/3/3;
}
.work-time {
  grid-area: 2/4/3/5;
}
.meal-type {
  grid-area: 2/6/3/7;
}
.walk-cals {
  grid-area: 3/2/4/3;
}
.work-cals {
  grid-area: 3/4/4/5;
}
.meal-cals {
  grid-area: 3/6/4/7;
}
.water-section {
  grid-area: 2/8/3/9;
  display: flex;
}
.water-section div {
  flex-grow: 1;
  margin: 0 1px;
  padding: 0;
  text-align: center;
  font-size: 1rem;
}
.notes {
  grid-area: 4/1/5/9;
}
.walk-out-time {
  grid-area: 2/3/3/4;
}
.walk-out-cals {
  grid-area: 3/3/4/4;
}
.work-out-time {
grid-area: 2/5/3/6;
}
.work-out-cals {
  grid-area: 3/5/4/6;
}
.meal-out-type {
  grid-area: 2/7/3/8;
}
.meal-out-cals {
  grid-area: 3/7/4/8;
}
.sleep-out p {
  margin: 0;
}
@media (max-width: 400px) {
  .footer {
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "map"
      "sub"
      "det";
    text-align: center;
  }
  .sub-footer {
    flex-direction: column;
  }
}
@media (max-width: 420px) {
  .postcards {
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat (6, 480px);
    grid-template-areas:
      "code"
      "travel"
      "life"
      "health"
      "style"
      "beauty";
  }
}
@media (max-width: 600px) {
  .postcards {
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat(3, 480px);
    grid-template-areas:
      "code travel"
      "life health"
      "style beauty";
  }
}

@media (max-width: 920px) {
  .postcards {
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat(3, 480px);
    grid-template-areas:
      "code travel"
      "life health"
      "style beauty";
  }
}

@media (max-width: 992px) {
  .career-page,
  .beauty-page,
  .lifestyle-page {
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 50vw 50vw;
    grid-template-areas:
      "post post"
      "more more"
      "trend trend"
      "other other"
      "footer footer";
  }
}
