/* ><><><><><><><><COLORS, FONTS, BORDERS><><><><><><><><><> */
/* font-family: 'Alegreya Sans', sans-serif;
font-family: 'Unica One', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif; */

html {
    background-color: #34004f;
    color: #f6e9fe;
    font-family: "Alegreya Sans", sans-serif;
  }
  a {
    text-decoration: none;
    color: unset;
  }
  abbr {
    text-decoration: none;
  }
  ul li {
    list-style-type: none;
  }
  hr {
    border: none;
    height: 1px;
    background-color: #231942;
  }
  header {
    /* background-color: #52007a; */
    background-color: #22002c;
  }
  header h1 {
    text-shadow: 0 0 10px white;
    font-family: "Unica One", cursive;
  }
  .primary-navigation ul {
    /* background: linear-gradient(#400060, #52007a, #400060); */
    background: linear-gradient(#14001a, #22002c, #14001a);
  }
  .primary-navigation ul li a {
    font-family: "Julius Sans One", sans-serif;
    font-size: 24px;
    font-variant: small-caps;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: #daa9fb;
  }
  #current {
    color: white;
    text-shadow: 0 0 5px #f6e9fe;
    font-weight: bold;
  }
  hr {
    background-color: #f6e9fe;
  }
  h2 {
    font-family: "Unica One", cursive;
    border-top: 1px solid #f6e9fe;
  }
  .footer {
    background-color: #22002c;
    color: #a799b1;
  }
  .footer p {
    font-family: "Unica One", cursive;
  }
  .footer a {
    font-family: "Julius Sans One", sans-serif;
  }
  .sub-footer {
    background: linear-gradient(#14001a, #22002c, #14001a);
  }
  input,
  textarea {
    background-color: #f6e9fe;
    font-family: "Julius Sans One", sans-serif;
    border: none;
  }
  label {
    font-family: "Julius Sans One", sans-serif;
  }
  .subscribe-button,
  .contact-button {
    background-color: #aca3b2;
    border: 0.5px solid #00000050;
  }
  .hero-image-container {
    background-image: url(../IMG/city-landscape-night.jpg);
    background-position: 50% 55%;
    border: 1px solid #4cc9f0;
  }
  .subheader {
    background-color: #360060;
    border: 5px double #4cc9f0;
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 10px 8px #4ccaf05b;
    font-family: "Alegreya Sans", sans-serif;
    font-style: italic;
  }
  .featured-post-card {
    background-color: #360060;
  }
  .featured-post-card-description {
    font-weight: 300;
  }
  .featured-post,
  .post-card,
  .trending-card,
  .related-post-card {
    border: 0.5px solid #34004f;
  }
  .post-card-title,
  .featured-post-card-title,
  .featured-post-card-description,
  .trending-header,
  .contact-header {
    font-family: "Yanone Kaffeesatz", sans-serif;
    letter-spacing: 0.1rem;
  }
  .related-post-title,
  .trending-card {
    font-family: "Julius Sans One", sans-serif;
  }
  .post-card,
  .related-post-card {
    background-color: #c5bacb;
  }
  .post-card-title,
  .related-post-title,
  .related-post-description {
    color: #3b0069;
  }
  .post-card-title {
    font-weight: 200;
  }
  .trending-card {
    background-color: #7f6b9a;
    color: #f6e9fe;
  }
  .other-posts-title {
    font-family: "Julius Sans One", sans-serif;
    color: #f6e9fe;
  }
  .blog-post-title {
    font-family: inherit;
  }
  .blog-post-content p {
    font-weight: 300;
  }
  .blog-post-content p a {
    color: #4cc9f0;
  }
  .read-more-button {
    font-family: "Julius Sans One", sans-serif;
    font-variant: small-caps;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #2f0053;
    background: linear-gradient(#48007e, #6900b9, #48007e);
    color: #e7c8ff;
  }
  .category-button {
    font-family: "Julius Sans One", sans-serif;
    border: 0.5px solid #f6e9fe;
    box-shadow: 0 0 4px 2px #00000050;
    color: #f6e9fe;
  }
  .date {
    color: #918ca1;
  }
  .about-section {
    /* background-image: linear-gradient(
      #a673dc,
      #cb7ec2,
      #e696bb,
      #f2abb1,
      #f6b86f,
      #f2abb1,
      #e696bb,
      #cb7ec2,
      #a673dc
    ); */
    background-image: linear-gradient(
      #3b0158,
      #6a1f83,
      #8d3582,
      #c46a86,
      #fbae7a,
      #c46a86,
      #8d3582,
      #6a1f83,
      #6a1f83
    );
  }
  .about-ari {
    font-family: "Alegreya Sans", sans-serif;
    background-color: #9f86c09a;
  }
  .about-ari p a {
    color: #6a1f83;
  }
  .wellness-table {
    color: #34004f;
  }
 .wellness-table-header {
   background-color: #E2AFFF;
 }  
 /* .wellness-table div {
   border: 1px solid white;
 } */
 .time-cal-header {
  background-color: #ECBCFD;
}
.number {
  background-color: #FFCBF2;
}
.fill-out {
  background-color: #F3C4FB;
}
.water-section div {
  background-color: #90e0ef;
  border: 1px solid #0077b6;
}
.water-section div:first-of-type {
  background-color: #b08968;
  border: 1px solid #582f0e;
}
.notes {
  background-color: #D8BBFF;
}
.wellness-table p {
  font-family: 'Shadows Into Light Two', cursive;
}

  /* ><><><><><><><><TRANSITIONS><><><><><><><><><> */
  * {
    transition: all 0.25s ease-out;
  }
  .primary-navigation ul li a:hover {
    color: white;
    text-shadow: 0 0 5px #f6e9fe;
  }
  .featured-post:hover {
    box-shadow: 0 0 10px 4px #ffffff75;
    border: 0.5px solid #4cc9f0;
  }
  .post-card:hover,
  .related-post-card:hover {
    box-shadow: 0 0 10px 4px #ffffff75;
    border: 0.5px solid white;
  }
  .post-card-title:hover,
  .related-post-title:hover,
  .other-posts-title:hover {
    color: white;
    text-shadow: 0 0 4px white;
  }
  .trending-card:hover {
    background-color: #9f86c0;
    box-shadow: 0 0 10px 3px #ffffff75;
    border: 0.5px solid white;
  }
  .trending-post-title:hover {
    color: white;
    text-shadow: 0 0 5px white;
  }
  .read-more-button {
    color: #b9a0cc;
  }
  .read-more-button:hover {
    transform: translate(0, -2px);
    box-shadow: 0 2px 4px #00000050;
    color: white;
    text-shadow: 0 0 5px white;
  }
  .subscribe-button:hover,
  .contact-button:hover {
    background-color: #f6e9fe;
    border: 0.5px solid white;
  }
  .category-button:hover {
    background-color: #ffffff25;
    box-shadow: 0 0 10px 1px #ffffff75;
  }
  .footer a:hover {
    color: #f6e9fe;
  }
  .blog-post-content p a:hover,
  .about-ari p a:hover {
    text-decoration: underline;
  text-decoration-thickness: 1px;}
